@CHARSET "ISO-8859-1";

.background {
	background: #FFFFFF;
}

.group {
	border-radius: 25px;
	margin: 20px;
}

.group-0 {
	background: #ffe082;
}

.group-1 {
	background: #f44336;
}

.group-2 {
	background: #80deea;
}

.group-label {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
}

.dash_button {
	padding: 3px;
	width: 260px;
	height: 115px;
	object-fit: cover;
}

img {
	display: block;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	border: none;
	padding: 0px;
}

.dash_button_mask {
	-webkit-mask-box-image: url(amazon_dash_mask.png);
}

.img-container {
	position: relative;
}

.img-container .top {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	left: 0;
}

.table td {
	text-align: center;
}