<html lang="en" ng-app="cwAmazonDashApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="CW Amazon Dash">
<meta name="author" content="Sebastian Thiems">
<title>CW Amazon Dash</title>
<!-- JQuery start -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- JQuery end -->
<!-- Bootstrap start -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Bootstrap end -->
<!-- Angular start -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
<!-- Angular end -->
<!-- Custom -->
<link rel="stylesheet" href="css/cwAmazonDash.css">
<script src="js/cwAmazonDashApp.js"></script>
<script src="js/groupController.js"></script>
<script src="js/service.js"></script>
</head>
<body class="background" ng-controller="groupController">
	{% raw %}
	<div class="container-fluid">
		<div ng-repeat="group in groups">
			<div class="container-fluid group" ng-class="getGroupClass(group.columns)">
				<div ng-class="getGroupCssClass($index)" class="group">
					<span class="group-label col-lg-12">{{group.name}}</span>
					<div class="row" ng-repeat="row in getNumber(3) track by $index">
						<div ng-class="getColumnClass(group.columns)" ng-repeat="column in getNumber(group.columns) track by $index">
							<div class="img-container">
								<img class="dash_button dash_button_mask top" ng-class="getGroupCssClass($parent.$parent.$index)"
									ng-src="{{getImageUrl(group, $parent.$index, $index)}}" alt="Dash Button"> <img class="dash_button bottom"
									ng-class="getGroupCssClass($parent.$parent.$index)" ng-src="images/amazon_dash.png" alt="Dash Button">
								<button type="button" class="btn btn-default btn-circle btn-xl" ng-class="getButtonCssClass($parent.$parent.$index)">
									<i class="glyphicon glyphicon-plus add_icon"></i>
								</button>
								<div class="overlay info_text">
									<div class="price">{{getDashButtonPrice(group, $parent.$index, $index)}}</div>
									<div class="title">{{getDashButtonTitle(group, $parent.$index, $index)}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endraw %}
</body>
</html>